<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <title>Welcome, signed in!</title>
    </head>
    <body>
        <h1>Welcome to Hermes</h1>
        <p>A consumer should only need to scan a QR code in order to make a purchase.</p>
        <ul>
            <li>Retailers pair Products and Prices in Hermes to form Offers.</li>
            <li>Consumers that are interested in an Offer can scan it, placing an Order</li>
            <li>Consumers confirm they will pay the Price, the Order becomes a Purchase.</li>
            <li>A Purchase is finalized once Delivery has been made.</li>
        </ul>
        <a href="/providers">Click here to see providers</a>
        <a href="/sign_out">Sign out</a>
    </body>
</html>